<div class="book-card {% if review.metadata.review and review.metadata.review.rating == 5 %}book-card-fav{% endif %}">
  {% include "_external_links.html" %}
  {% set is_link=review.metadata.review and review.metadata.review.date_read and review.text %}
  {%- if is_link %}
    <a href="/{{ review.id }}/">
  {% else %}
    <div>
  {% endif %}
    <div class="book-metadata">
      <div class="book_thumbnail">
        {% set book = review.metadata.book %}
        {% include "_book_cover.html" %}
      </div>
      <p class="title{% if not review.metadata.review or not review.metadata.review.rating %} title-padded{% endif %}">
        {{ review.metadata.book.title | smartypants | safe }}
      </p>
      <small>
        by 
        {%- if review.link_author and not is_link %}
          <a href="/{{ review.author_slug }}/">{{ review.metadata.book.author }}</a>
        {%- else %}
          {{ review.metadata.book.author }}
        {%- endif %}
        <span class="muted">
        {% if review.metadata.book.publication_year %}· published {{ review.metadata.book.publication_year }}{% endif %}
        {% if review.metadata.review and review.metadata.review.date_read %}
          ·
          {% if review.metadata.review.date_read|length > 1 %} last{% endif %} read {{ review.metadata.review.date_read[-1] | render_date }}
        {% elif review.metadata.plan and review.metadata.plan.date_added -%}
          · added on {{ review.metadata.plan.date_added | render_date }}
        {% endif %}
        </span>
      </small>
      {% if review.metadata.review and review.metadata.review.rating %}
        <div class="rating">
            {% include "_rating.html" %}
        </div>
      {% endif %}
        {% if not review_text and review.text %}
          {% if not show_full_review and review.text|length > 200 %}
            {% set review_text = review.text|strip_markdown|truncate(200, False, "…") %}
          {% else %}
            {% set review_text = review.text %}
          {% endif %}
        {% endif %}
        {% if review_text %}
          <div class="book-review">
          {% if is_link %} {{ review_text | strip_markdown | safe }}{% else %}{{ review_text | render_markdown | safe }}{% endif %}
          </div>
        {% endif %}
      </p>
    </div>
  {%- if is_link %}
    </a>
  {% else %}
    </div>
  {% endif %}
</div>

