{% if review.cover_path %}
  <img
    class="cover"
    src="/{{ review.id }}/thumbnail.jpg"
    alt="Cover of {{ review.metadata.book.title }}. {{ review.metadata.book.cover_description }}"
    {% if spine_border and review.metadata.book.spine_color %}style="border: 1px solid {{ review.metadata.book.spine_color }}; border-left: 24px solid {{ review.metadata.book.spine_color }};"{% endif %}
  >
{% else %}
  <img
    class="cover"
    src="/static/cover.png"
    alt="Cover placeholder for {{ review.metadata.book.title }}."
    {% if spine_border %}style="border: 1px solid #3b5053; border-left: 24px solid #3b5053;"{% endif %}
  >
{% endif %}
