{% for book_entry in all_books %}
<div class="reading">
  <div class="reading_inner">
    <div class="book_thumbnail">
      {% set book = book_entry.book %}
      {% include "_book_cover.html" %}
    </div>

    <div class="book_metadata">
      <p class="title">{{ book_entry.book.title | smartypants | safe }}</p>
      <p>
        <small>
          by {{ book_entry.book.author }}
          {%- if book_entry.book.publication_year %}
            ({{ book_entry.book.publication_year}})
          {%- endif -%}
        </small>
      </p>
    </div>
  </div>
  {% if book_entry.plan.text %}
  <div class="note">
    {{ book_entry.plan.text | render_markdown | safe }}
  </div>
  {% endif %}
</div>
{% endfor %}
