{% for review in all_books %}
<div class="reading">
  <div class="reading_inner">
    <div class="book_thumbnail">
      {% set book = review.metadata.book %}
      {% include "_book_cover.html" %}
    </div>

    <div class="book_metadata">
      <p class="title">{{ review.metadata.book.title | smartypants | safe }}</p>
      <p>
        <small>
          by {{ review.metadata.book.author }}
          {%- if review.metadata.book.publication_year %}
            ({{ review.metadata.book.publication_year}})
          {%- endif -%}
        </small>
      </p>
    </div>
  </div>
  {% if review.text %}
  <div class="note">
    {{ review.text | render_markdown | safe }}
  </div>
  {% endif %}
</div>
{% endfor %}
