<div class="reading">
  {% if review.metadata.review and review.metadata.review.date_read and review.text %}
    <a href="/{{ review.id }}/">
  {% endif %}
  <div class="reading_inner book_metadata">
    <div class="book_thumbnail">
      {% set book = review.metadata.book %}
      {% include "_book_cover.html" %}
    </div>
    <p class="title">{{ review.metadata.book.title | smartypants | safe }}</p>
    <p>
      <small>
        by {{ review.metadata.book.author }}
        {%- if review.metadata.book.publication_year %}
          ({{ review.metadata.book.publication_year}})
        {%- endif -%}
        {%- if review.metadata.plan and review.metadata.plan.date_added -%}
        <p><i>added on {{ review.metadata.plan.date_added | render_date }}</i></p>
        {%- endif %}
      </small>
    </p>
    {% if review.metadata.review and review.metadata.review.rating %}
      {% include "_rating.html" %}
    {% endif %}
    {% if not review_text and review.text %}
      <hr>
      {% set review_text = review.text %}
    {% endif %}
    {% if review_text %}
    <p class="note">
      {{ review_text | render_markdown | safe }}
    </p>
    {% endif %}
  </div>
  {% if review.metadata.review and review.metadata.review.date_read and review.text %}
    </a>
  {% endif %}
</div>
