<div class="review_preview {% if review.metadata.review.rating == 5 %}review_fave{% endif %}">
  <a {% if review.text %}href="/{{ review.get_url_path() }}"{% else %}class="no-link"{% endif %}>
    <div class="book_metadata">
      <div class="book_thumbnail">
        {% set book = review.metadata.book %}
        {% include "_book_cover.html" %}
      </div>
      <p class="title">{{ review.metadata.book.title | smartypants | safe }}</p>
      <p>
        <small>
          by {{ review.metadata.book.author }}
          {%- if review.metadata.book.publication_year %}
            ({{ review.metadata.book.publication_year}})
          {%- endif -%}
            <br/>
          {% if review.metadata.review.date_read %}
            {% if review.metadata.review.date_read|length > 1 %}last {% endif %}read {{ review.metadata.review.date_read[-1] | render_date }}
            <br/>
          {% endif %}
          {% if review.metadata.review and review.metadata.review.rating %}
            {% include "_rating.html" %}
          {% endif %}
        </small>
      </p>
    </div>
  </a>
</div>
