<div class="review_preview {% if review_entry.review.rating == 5 %}review_fave{% endif %}">
  <a href="/{{ review_entry.out_path() }}">
    <div class="book_thumbnail">
      {% set book = review_entry.book %}
      {% include "_book_cover.html" %}
    </div>

    <div class="book_metadata">
      <p class="title">{{ review_entry.book.title | smartypants | safe }}</p>
      <p>
        <small>
          by {{ review_entry.book.author }}
          {%- if review_entry.book.publication_year %}
            ({{ review_entry.book.publication_year}})
          {%- endif -%}
            <br/>
          {% if review_entry.review.date_read %}
          read {{ review_entry.review.date_read | render_date }}
            <br/>
          {% endif %}
          {% if review_entry.review.rating %}
            {% for _ in range(review_entry.review.rating) %}
            ★
            {% endfor %}
            {% for _ in range(5 - review_entry.review.rating) %}
            ☆
            {% endfor %}
          {% endif %}
          {% if review_entry.review.did_not_finish %}
            (did not finish)
          {% endif %}
        </small>
      </p>
    </div>
  </a>
</div>
