{% extends "base.html" %}

{% block main_class %} class="wide"{% endblock %}

{% block content %}

<script src="/static/d3.min.js"></script>
<script src="/static/graph.js"></script>

<div id="graph-wrapper">
    <div id="book-graph"></div>
    <div id="graph-sidebar">
        <div id="book-preview">
        </div>
        <div id="graph-stats">
            <ul>
                <li>{{ node_count }} books</li>
                <li>{{ missing_nodes }} books missing</li>
                <li>{{ edge_count }} connections</li>
                {% if not is_connected %}
                    <li>{{ parts }} components</li>
                {% else %}
                    <li>All books connected</li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
