{% extends "base.html" %}

{% block content %}
  <nav id="year-nav">
    {% for iyear in all_years %}
    <a {% if year == iyear %}class="active"{% else %}href="/reviews/{{ iyear or "other" }}"{% endif %}>
      {{ iyear or "other" }}
    </a> ·
    {% endfor %}
    <a href="/reviews/by-author/">by author</a> ·
    <a href="/reviews/by-title/">by title</a> ·
    <a href="/reviews/by-series/"class="active">by series</a>
  </nav>

  <h2>All books I've read by series</h2>

  Only books that belong to a series, naturally. I've only included series where I've read more than one book.

  <ul>
  {% for series, ireviews in reviews %}
    <li id="{{ series }}">{{ series }}
      <ul>
      {% for review in ireviews %}
        <li>
          {% if review.metadata.review and review.metadata.review.rating == 5 %}
          <span class="rating rating-inline">★</span>
          {% endif %}
          {% if review.text %}
            <a href="/{{ review.get_core_path() }}">{{ review.metadata.book.title }}</a>
          {% else %}
            {{ review.metadata.book.title }}
          {% endif %}
          (#{{ review.metadata.book.series_position }})
        </li>
      {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>

{% endblock %}

