{% extends "base.html" %}

{% block content %}

  {% include "_year_nav.html" %}

  <h2>The {{ reviews|length }} book{% if reviews|length != 1 %}s{% endif %}
  {% if current_year %}
    I&rsquo;ve read so far
  {% else %}
    I read
  {% endif %}
  in {{ year }}
</h2>


  {% for review in reviews %}
    {% if review.metadata.review.date_read.strftime("%Y-%m") != dread %}
      {% set dread = review.metadata.review.date_read.strftime("%Y-%m") %}
      <p id="{{ dread }}"></p>
    {% endif %}
    {% include "_review_list_entry.html" %}
  {% endfor %}

{% endblock %}
