{% extends "base.html" %}

{% block content %}

  <h2>Books I want to read (and why)</h2>

  <p>Tags are pulled semi-automatically from Goodreads, so these lists might be a bit wonky.</p>

  {% for tag in mapped_plans %}
  {% if tag.books %}
  <h3>{% if tag.tag %}
    {% if tag.tag.metadata.title %}
      {{ tag.tag.metadata.title }}
    {% else %}
      {{ tag.tag.slug }}
    {% endif %}
  {% else %}
    Untagged
  {% endif %}</h3>
  <details>
    <summary>Show all {{ tag.books|length }} books</summary>
    {% for review in tag.books %}
    {% include "_book_card.html" %}
    {% endfor %}
  </details>
  {% endif %}
  {% endfor %}

{% endblock %}
