{% extends "base.html" %}

{% block content %}

  <h2>Books I want to get rid of</h2>

  <p> <i>[english below]</i>
  Mein Mitbewohner und ich haben das Bücherregal gefegt, und die Bücher
  auf dieser Seite wurden aus verschiedensten Gründen aussortiert: Weil sie uns
  nicht mehr interessieren, oder wir sie vielleicht einfach nicht noch einmal
  lesen werden.  Deshalb <strong>verschenken</strong> wir sie jetzt, gegen
  <strong>Portokosten</strong> (und wenn ihr eine Spende in den Hut werfen
  wollt, sagen wir nicht nein).  Die Daten hier sind größtenteils korrekt, die
  Cover sind nicht immer 100% die originalen – fragt gerne unter r at rixx
    punkt de, wenn ihr Fragen habt.<br><i>(Wenn du mir eines dieser Bücher
      geschenkt hast: Ich verspreche hiermit, dass ich es toll fand und nur
      nicht noch ein drittes Mal lesen möchte!)</i></p>

  <p> 🇬🇧
  My flatmate and I are going to get rid of these books from our
  shelves  – mostly because we liked them at the time, but won't be reading them
  again.  You can get them <strong> for free</strong> (well, alright, plus
  <strong> shipping costs</strong>, and we won't say no to a strictly optional
  donation). The information below is mostly correct – the covers are not always the
  right ones, and there may be typos. If in doubt, just ask me – r at rixx dot
  de.</p>
  

  <select id="language-select">
    <option value="all">🗺 All</option>
    <option value="de">🇩🇪 Deutsch</option>
    <option value="en">🇬🇧 English</option>
    <option value="hu">🇭🇺 Magyarul</option>
  </select>

  <script>
    document.querySelector("#language-select").addEventListener("change", (ev => {
      const language = document.querySelector("#language-select").value
      if (language == "all") {
        document.querySelectorAll(".book-card").forEach(element => {
          element.style.display = "block"
        })
      } else {
        document.querySelectorAll(".book-card").forEach(element => {
          if (element.dataset.language === language) {
            element.style.display = "block"
          } else {
            element.style.display = "none"
          }
        })
      }
    }))
  </script>

  {% set shelf_books = all_giveaway %}
  {% set full_length = True %}
  {% set show_lang = True %}
  {% include "_shelf.html" %}

  {% for review in all_giveaway %}
  {% include "_book_card.html" %}
  {% endfor %}

{% endblock %}
