{% extends "base.html" %}

{% block head_content %}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@rixxtr"/>
<meta name="twitter:title" content="Tobias's review of {{ review_entry.book.title }}"/>
<meta name="twitter:image" content="https://books.rixx.de/squares/{{ review_entry.book.cover_image }}"/>

<meta property="og:type" content="article" />
<meta property="og:url" content="https://books.rixx.de/{{ review_entry.out_path() }}">
<meta property="og:title" content="Tobias's review of {{ review_entry.book.title }}">
<meta property="og:image" content="https://books.rixx.de/squares/{{ review_entry.book.cover_image }}"/>
{% endblock %}

{% block content %}
  {% if review_entry.book.cover_image %}
    <div class="book-cover">
      {% set book = review_entry.book %}
      {% include "_book_cover.html" %}
    </div>
  {% endif %}

  <h1>{{ review_entry.book.title | smartypants | safe }}</h1>

  <table class="book_metadata">
    <tr>
      <td>author{% if "and" in review_entry.book.author or ", " in review_entry.book.author or " & " in review_entry.book.author %}s{% endif %}:</td>
      <th><a href="/reviews/by-author/#{{ review_entry.book.author }}">{{ review_entry.book.author }}</a>
        {%- if review_entry.book.publication_year %}
          ({{ review_entry.book.publication_year}})
        {%- endif -%}
      </th>
    </tr>
    {% if review_entry.book.series %}
    <tr>
      <td>series:</td>
      <th>{{ review_entry.book.series }} {% if review_entry.book.series_position %}#{{ review_entry.book.series_position }}{% endif %}</th>
    </tr>
    {% endif %}
    {% if review_entry.review.date_added %}
    <tr>
      <td>date added:</td>
      <th>{{ review_entry.review.date_added | render_date }}</th>
    </tr>
    {% endif %}
    {% if review_entry.review.date_started %}
    <tr>
      <td>date started:</td>
      <th>{{ review_entry.review.date_started | render_date }}</th>
    </tr>
    {% endif %}
    {% if review_entry.review.date_read %}
    <tr>
      <td>date read:</td>
      <th>{{ review_entry.review.date_read | render_date }}</th>
    </tr>
    {% endif %}
    {% if review_entry.book.pages %}
    <tr>
      <td>pages:</td>
      <th>{{ review_entry.book.pages }}</th>
    </tr>
    {% endif %}
    {% if review_entry.review.rating %}
    <tr>
      <td>rating:</td>
      <th>
        {% for _ in range(review_entry.review.rating) %}
        ★
        {% endfor %}
        {% for _ in range(5 - review_entry.review.rating) %}
        ☆
        {% endfor %}
        {% if review_entry.review.did_not_finish %}
        (did not finish)
        {% endif %}
      </th>
    </tr>
    {% endif %}
  </table>

  <article>
  {{ review_entry.review.text | render_markdown | safe }}
  </article>

  <hr>

  {% if review_entry.book.goodreads %}
    (<a href="https://www.goodreads.com/book/show/{{ review_entry.book.goodreads }}">goodreads</a>) ·
  {% elif review_entry.book.isbn10 or review_entry.book.isbn13 %}
    (<a href="https://www.goodreads.com/search?q={{ review_entry.book.isbn10 or review_entry.book.isbn13 }}&search_type=books">goodreads</a>) ·
  {% endif %}
  {% if review_entry.book.isbn10 or review_entry.book.isbn13 %}
    (<a href="https://www.librarything.com/isbn/{{ review_entry.book.isbn10 or review_entry.book.isbn13 }}">librarything</a>) ·
    (<a href="https://www.amazon.com/s?k=isbn+{{ review_entry.book.isbn10 or review_entry.book.isbn13 }}&ref=nb_sb_noss">amazon</a>) ·
  {% endif %}

  see <a href="/reviews">all reviews</a>
  <hr>

{% endblock %}
