{% extends "base.html" %}

{% block head_content %}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@rixxtr"/>
<meta name="twitter:title" content="Tobias's review of {{ review.metadata.book.title }}"/>
<meta name="twitter:image" content="https://books.rixx.de/squares/{{ review.metadata.book.cover_image }}"/>

<meta property="og:type" content="article" />
<meta property="og:url" content="https://books.rixx.de/{{ review.get_core_path() }}">
<meta property="og:title" content="Tobias's review of {{ review.metadata.book.title }}">
<meta property="og:image" content="https://books.rixx.de/squares/{{ review.metadata.book.cover_image }}"/>
{% endblock %}

{% block content %}
  {% if review.metadata.book.cover_image %}
    <div class="book-cover">
      {% set book = review.metadata.book %}
      {% include "_book_cover.html" %}
    </div>
  {% endif %}

  <h1>{{ review.metadata.book.title | smartypants | safe }}</h1>

  <table class="book_metadata">
    <tr>
      <td>author{% if "and" in review.metadata.book.author or ", " in review.metadata.book.author or " & " in review.metadata.book.author %}s{% endif %}:</td>
      <th><a href="/reviews/by-author/#{{ review.metadata.book.author }}">{{ review.metadata.book.author }}</a>
        {%- if review.metadata.book.publication_year %}
          ({{ review.metadata.book.publication_year}})
        {%- endif -%}
      </th>
    </tr>
    {% if review.metadata.book.series %}
    <tr>
      <td>series:</td>
      <th><a href="/reviews/by-series/#{{ review.metadata.book.series }}">{{ review.metadata.book.series }} {% if review.metadata.book.series_position %}#{{ review.metadata.book.series_position }}{% endif %}</a></th>
    </tr>
    {% endif %}
    {% if review.metadata.review.date_added %}
    <tr>
      <td>date added:</td>
      <th>{{ review.metadata.review.date_added | render_date }}</th>
    </tr>
    {% endif %}
    {% if review.metadata.review.date_started %}
    <tr>
      <td>date started:</td>
      <th>{{ review.metadata.review.date_started | render_date }}</th>
    </tr>
    {% endif %}
    {% if review.metadata.review.date_read %}
    <tr>
      <td>date read:</td>
      <th>{{ review.metadata.review.date_read | render_date }}</th>
    </tr>
    {% endif %}
    {% if review.metadata.book.pages %}
    <tr>
      <td>pages:</td>
      <th>{{ review.metadata.book.pages }}</th>
    </tr>
    {% endif %}
    {% if review.metadata.book.tags %}
    <tr>
      <td>lists:</td>
      <th>
        {% for tag in review.metadata.book.tags %}
          <a href="/lists/{{ tag }}/">{{ tag }}</a>
          {{ ", " if not loop.last }}
        {% endfor %}
      </th>
    </tr>
    {% endif %}
    {% if review.metadata.review.rating %}
    <tr>
      <td>rating:</td>
      <th class="rating">
        {% for _ in range(review.metadata.review.rating) %}
        ★
        {% endfor %}
        {% for _ in range(5 - review.metadata.review.rating) %}
        ☆
        {% endfor %}
        {% if review.metadata.review.did_not_finish %}
        (did not finish)
        {% endif %}
      </th>
    </tr>
    {% endif %}
  </table>

  <article>
  {{ review.text | render_markdown | safe }}
  </article>

  {% if review.metadata.social %}{% if review.metadata.social.twitter.id or review.metadata.social.mastodon.id %}

    <hr>
    <article id="social-article">

      {% if review.metadata.social.twitter.id and review.metadata.social.mastodon.id %}
        <input type="checkbox" id="switch" class="social" />
      {% endif %}

      <div id="social">
        {% if review.metadata.social.twitter.id and review.metadata.social.mastodon.id %}
          <label for="switch" id="toggle">Toggle</label>
          <span id="label"></span>
        {% endif %}

        {% if review.metadata.social.twitter.id %}
        <div id="twitter">
          <div class="header"><a href="https://twitter.com/rixxtr" target=_blank>
            <img src="/static/twitter_ava.jpg">
            <div class="author">
              <div class="author-name">Tobias</div>
              <div class="author-nick">@rixxtr</div>
            </div>
          </a></div>
          <div class="content">
            {{ review.metadata.social.twitter.text | smartypants }}
          </div>
          <div class="footer">
            <a href="https://twitter.com/rixxtr/status/{{ review.metadata.social.twitter.id }}">
              <svg id="twitter-reply" viewBox="0 0 24 24"><g><path d="M14.046 2.242l-4.148-.01h-.002c-4.374 0-7.8 3.427-7.8 7.802 0 4.098 3.186 7.206 7.465 7.37v3.828c0 .108.044.286.12.403.142.225.384.347.632.347.138 0 .277-.038.402-.118.264-.168 6.473-4.14 8.088-5.506 1.902-1.61 3.04-3.97 3.043-6.312v-.017c-.006-4.367-3.43-7.787-7.8-7.788zm3.787 12.972c-1.134.96-4.862 3.405-6.772 4.643V16.67c0-.414-.335-.75-.75-.75h-.396c-3.66 0-6.318-2.476-6.318-5.886 0-3.534 2.768-6.302 6.3-6.302l4.147.01h.002c3.532 0 6.3 2.766 6.302 6.296-.003 1.91-.942 3.844-2.514 5.176z"></path></g></svg>
              <svg id="twitter-rt" viewBox="0 0 24 24"><g><path d="M23.77 15.67c-.292-.293-.767-.293-1.06 0l-2.22 2.22V7.65c0-2.068-1.683-3.75-3.75-3.75h-5.85c-.414 0-.75.336-.75.75s.336.75.75.75h5.85c1.24 0 2.25 1.01 2.25 2.25v10.24l-2.22-2.22c-.293-.293-.768-.293-1.06 0s-.294.768 0 1.06l3.5 3.5c.145.147.337.22.53.22s.383-.072.53-.22l3.5-3.5c.294-.292.294-.767 0-1.06zm-10.66 3.28H7.26c-1.24 0-2.25-1.01-2.25-2.25V6.46l2.22 2.22c.148.147.34.22.532.22s.384-.073.53-.22c.293-.293.293-.768 0-1.06l-3.5-3.5c-.293-.294-.768-.294-1.06 0l-3.5 3.5c-.294.292-.294.767 0 1.06s.767.293 1.06 0l2.22-2.22V16.7c0 2.068 1.683 3.75 3.75 3.75h5.85c.414 0 .75-.336.75-.75s-.337-.75-.75-.75z"></path></g></svg>
              <svg id="twitter-fav" viewBox="0 0 24 24"><g><path d="M12 21.638h-.014C9.403 21.59 1.95 14.856 1.95 8.478c0-3.064 2.525-5.754 5.403-5.754 2.29 0 3.83 1.58 4.646 2.73.814-1.148 2.354-2.73 4.645-2.73 2.88 0 5.404 2.69 5.404 5.755 0 6.376-7.454 13.11-10.037 13.157H12zM7.354 4.225c-2.08 0-3.903 1.988-3.903 4.255 0 5.74 7.034 11.596 8.55 11.658 1.518-.062 8.55-5.917 8.55-11.658 0-2.267-1.823-4.255-3.903-4.255-2.528 0-3.94 2.936-3.952 2.965-.23.562-1.156.562-1.387 0-.014-.03-1.425-2.965-3.954-2.965z"></path></g></svg>
            </a>
          </div>
        </div>
        {% endif %}

        {% if review.metadata.social.mastodon.id %}
        <div id="mastodon">
          <div class="header"><a href="https://chaos.social/@rixx" target=_blank>
            <img src="/static/twitter_ava.jpg">
            <div class="author">
              <div class="author-name">rixx</div>
              <div class="author-nick">@rixx@chaos.social</div>
            </div>
          </a></div>
          <div class="content">
            {{ review.metadata.social.mastodon.text | smartypants }}
          </div>
          <div class="footer">
            <a href="https://chaos.social/@rixx/{{ review.metadata.social.mastodon.id }}">
              <svg id="twitter-reply" viewBox="0 0 24 24"><g><path d="M14.046 2.242l-4.148-.01h-.002c-4.374 0-7.8 3.427-7.8 7.802 0 4.098 3.186 7.206 7.465 7.37v3.828c0 .108.044.286.12.403.142.225.384.347.632.347.138 0 .277-.038.402-.118.264-.168 6.473-4.14 8.088-5.506 1.902-1.61 3.04-3.97 3.043-6.312v-.017c-.006-4.367-3.43-7.787-7.8-7.788zm3.787 12.972c-1.134.96-4.862 3.405-6.772 4.643V16.67c0-.414-.335-.75-.75-.75h-.396c-3.66 0-6.318-2.476-6.318-5.886 0-3.534 2.768-6.302 6.3-6.302l4.147.01h.002c3.532 0 6.3 2.766 6.302 6.296-.003 1.91-.942 3.844-2.514 5.176z"></path></g></svg>
              <svg id="twitter-rt" viewBox="0 0 24 24"><g><path d="M23.77 15.67c-.292-.293-.767-.293-1.06 0l-2.22 2.22V7.65c0-2.068-1.683-3.75-3.75-3.75h-5.85c-.414 0-.75.336-.75.75s.336.75.75.75h5.85c1.24 0 2.25 1.01 2.25 2.25v10.24l-2.22-2.22c-.293-.293-.768-.293-1.06 0s-.294.768 0 1.06l3.5 3.5c.145.147.337.22.53.22s.383-.072.53-.22l3.5-3.5c.294-.292.294-.767 0-1.06zm-10.66 3.28H7.26c-1.24 0-2.25-1.01-2.25-2.25V6.46l2.22 2.22c.148.147.34.22.532.22s.384-.073.53-.22c.293-.293.293-.768 0-1.06l-3.5-3.5c-.293-.294-.768-.294-1.06 0l-3.5 3.5c-.294.292-.294.767 0 1.06s.767.293 1.06 0l2.22-2.22V16.7c0 2.068 1.683 3.75 3.75 3.75h5.85c.414 0 .75-.336.75-.75s-.337-.75-.75-.75z"></path></g></svg>
              <svg id="twitter-fav" viewBox="0 0 24 24"><g><path d="M12 21.638h-.014C9.403 21.59 1.95 14.856 1.95 8.478c0-3.064 2.525-5.754 5.403-5.754 2.29 0 3.83 1.58 4.646 2.73.814-1.148 2.354-2.73 4.645-2.73 2.88 0 5.404 2.69 5.404 5.755 0 6.376-7.454 13.11-10.037 13.157H12zM7.354 4.225c-2.08 0-3.903 1.988-3.903 4.255 0 5.74 7.034 11.596 8.55 11.658 1.518-.062 8.55-5.917 8.55-11.658 0-2.267-1.823-4.255-3.903-4.255-2.528 0-3.94 2.936-3.952 2.965-.23.562-1.156.562-1.387 0-.014-.03-1.425-2.965-3.954-2.965z"></path></g></svg>
            </a>
          </div>
        </div>
        {% endif %}

      </div>

    </article>
    {% endif %}{% endif %}

  <hr>

  {% if review.metadata.book.goodreads %}
    (<a href="https://www.goodreads.com/book/show/{{ review.metadata.book.goodreads }}">goodreads</a>) ·
  {% elif review.isbn %}
    (<a href="https://www.goodreads.com/search?q={{ review.isbn }}&search_type=books">goodreads</a>) ·
  {% endif %}
  {% if review.isbn %}
    (<a href="https://www.librarything.com/isbn/{{ review.isbn }}">librarything</a>) ·
    (<a href="https://www.amazon.com/s?k=isbn+{{ review.isbn }}&ref=nb_sb_noss">amazon</a>) ·
  {% endif %}

  see <a href="/reviews">all reviews</a>
  <hr>

{% endblock %}
