{% extends "base.html" %}

{% block content %}

<h1>Book Lists</h1>

<section>

  <p>
  This is where I group my books into lists – some boring ones, like <a
  href="/lists/scifi/">Sci-Fi</a>, and some more interesting ones like <a
  href="/lists/space-monks/">Space Monks</a>. I hope there's a list for you here, too:
  </p>

</section>
<hr>

<section>
<ul>
  {% for tag, reviews in tags.items() %}{% if not tag.metadata.boring %}
  <li>
    <a href="/lists/{{ tag.slug }}">{{ tag.metadata.title or tag.slug }}</a> ({{ reviews|length }} books)
  </li>
  {% endif %}{% endfor %}
</ul>
</section>
<section>
  <h2>Boring Lists</h2>

  These lists are either so large or at least so thematically broad that they are mostly useful if you're
  browsing for something to read. Books are sorted by rating, but it's still tricky to find anything in these:

<ul>
  {% for tag, reviews in tags.items() %}{% if tag.metadata.boring %}
  <li>
    <a href="/lists/{{ tag.slug }}">{{ tag.metadata.title or tag.slug }}</a> ({{ reviews|length }} books)
  </li>
  {% endif %}{% endfor %}
</ul>
</section>
{% endblock %}
