<div class="cover-wrapper {% if spine_border %}with-spine" style="--spine-color: {% if review.book_spine_color %}{{ review.book_spine_color }}{% else %}#3b5053{% endif %}{% endif %}">
  {% if spine_border %}
  <div class="cover-spine"></div>
  {% endif %}
  {% if review.book_cover_path %}
    <img
      class="cover"
      src="/{{ review.slug }}/cover.jpg"
      alt="Cover of {{ review.book_title }}."
    >
  {% else %}
    <img
      class="cover"
      src="{{ static('/cover.png') }}"
      alt="Cover placeholder for {{ review.book_title }}."
    >
  {% endif %}
</div>
