<div class="book-card {% if review.rating and review.rating == 5 %}book-card-fav{% endif %}{% if expand_card %} expand{% endif %}"{% if review.book_spine_color %}style="border-color: {{ review.book_spine_color }}{% endif %}">
  {% include "_external_links.html" %}
  {% set is_link=review.dates_read and review.content %}
  {%- if is_link %}
    <a href="/{{ review.slug }}/">
  {% else %}
    <div>
  {% endif %}
    <div class="book-metadata">
      <div class="book_thumbnail">
        {% include "_book_cover.html" %}
      </div>
      <p class="title{% if not review.rating %} title-padded{% endif %}">
        {{ review.book_title | smartypants | safe }}
      </p>
      <small>
        by 
        {%- if review.link_author and not is_link %}
          <a href="/{{ review.author_slug }}/">{{ review.book_author }}</a>
        {%- else %}
          {{ review.book_author }}
        {%- endif %}
        <span class="muted">
        {% if review.book_publication_year %}· published {{ review.book_publication_year }}{% endif %}
        {% if review.dates_read %}
          ·
          {% if review.dates_read|length > 1 %} last{% endif %} read {{ review.dates_read[-1] | render_date }}
        {% else -%}
          · added on {{ review.date_added | render_date }}
        {% endif %}
        </span>
      </small>
      {% if review.rating %}
        <div class="rating">
            {% include "_rating.html" %}
        </div>
      {% endif %}
      {% if not review_text and review.text %}
        {% set review_text = review.first_paragraph %}
      {% endif %}
      {% if review_text %}
      <div class="book-review{% if not review.rating %} book-review-padded{% endif %}">
        {% if is_link %} {{ review_text | strip_markdown | safe }}{% else %}{{ review_text | render_markdown | safe }}{% endif %}
        </div>
      {% endif %}
  </div>
  {%- if is_link %}
    </a>
  {% else %}
    </div>
  {% endif %}
</div>

