<header>
  <div id="sidenav-left" class="sidenav">
    <a id="site-title" href="/">log(book)</a>
  </div>
  <nav id="nav-links">
    <a href="/reviews"{% if active == "read" %} class="active"{% endif %}>Read</a>
      <span class="sep"> · </span>
    <a href="/lists"{% if active == "lists" %} class="active"{% endif %}>Lists</a>
      <span class="sep"> · </span>
    <a href="/queue"{% if active == "queue" %} class="active"{% endif %}>Queue</a>
      <span class="sep"> · </span>
    <a href="/graph" id="graph-nav"{% if active == "graph" %} class="active"{% endif %}>Graph</a>
    <a href="/stats"{% if active == "stats" %} class="active"{% endif %}>Stats</a>
  </nav>

  <div id="sidenav-right" class="sidenav">
    <div id="search-container" role="search">
      <input type="text" id="search" maxlength="255" placeholder="Search…">
      <div id="search-results" class="empty"></div>
    </div>
  </div>
</header>
