{% extends "base.html" %}

{% block content %}

  {% include "_year_nav.html" %}

  <p></p>
  {% for letter, _ in reviews %}
  <a href="#{{ letter }}">{{ letter }}</a> 
  {% endfor %}

  <h2>All books I've read by author</h2>

  Yes, by author here means "by first name".

  <hr>

  {% for letter, authors in reviews %}
  <section id="{{ letter }}" class="alphabet-section">
  <h2 class="alphabet initial">{{ letter }}</h2>
    <ul>
    {% for author, areviews in authors %}
      <li id="{{ author }}" class="anchor-target">{{ author }}
        <a class="anchor" href="/reviews/by-author/#{{ author }}">¶</a>
        <ul>
        {% for review in areviews %}
          <li>
            {% if review.rating and review.rating == 5 %}
            <span class="rating rating-inline">★</span>
            {% endif %}
            {% if review.content %}
              <a href="/{{ review.slug }}/">{{ review.book_title }}</a>
            {% else %}
              {{ review.book_title }}
            {% endif %}
          </li>
        {% endfor %}
        </ul>
      </li>
    {% endfor %}
    </ul>
  </section>
  <hr>
  {% endfor %}

  {% include "_year_nav.html" %}
{% endblock %}

