{% extends "base.html" %}

{% block content %}

  {% include "_year_nav.html" %}

  <h2 class="review-title">The {{ reviews|length }} book{% if reviews|length != 1 %}s{% endif %}
  {% if current_year %}
    I&rsquo;ve read so far
  {% else %}
    I read
  {% endif %}
  in {{ year }}
  <small id="year-in-books"><a href="/reviews/{{ year }}/stats/">year in books</a></small>
</h2>

  {% set shelf_books = reviews %}
  {% include "_shelf.html" %}


  {% for review in reviews %}
    {% if review.date_read_lookup[year].strftime("%Y-%m") != dread %}
      {% set dread = review.date_read_lookup[year].strftime("%Y-%m") %}
      <p id="{{ dread }}"></p>
    {% endif %}
    {% include "_book_card.html" %}
  {% endfor %}

  {% include "_year_nav.html" %}
{% endblock %}
