{% extends "base.html" %}

{% block head_content %}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@rixxtr"/>
<meta name="twitter:title" content="{{ review.book_title }} by {{ review.book_author }}"/>

<meta property="og:type" content="article" />
<meta property="og:url" content="https://books.rixx.de/{{ review.id }}/">
<meta property="og:title" content="{{ review.book_title }} by {{ review.book_author }}"/>
{% if review.tldr %}
<meta name="og:description" content="Review: {{ review.tldr }}" />
{% endif %}
{% if review.cover_path %}
<meta name="twitter:image" content="https://books.rixx.de/{{ review.id }}/square.png"/>
<meta property="og:image" content="https://books.rixx.de/{{ review.id }}/square.png"/>
{% endif %}

<link rel="canonical" href="https://books.rixx.de/{{ review.id }}/"/>
{% endblock %}

{% block content %}
  <div class="book-meta-wrapper"><div>
    <h1 id="title">{{ review.book_title | smartypants | safe }}</h1>
    <table class="book_metadata">
      <tr>
        <td>author{% if "and" in review.book_author or ", " in review.book_author or " & " in review.book_author %}s{% endif %}:</td>
        <th><a href="/{{ review.author_slug }}/">{{ review.book_author }}</a>
          {%- if review.book_publication_year %}
            ({{ review.book_publication_year}})
          {%- endif -%}
        </th>
      </tr>
      {% if review.book_series %}
      <tr>
        <td>series:</td>
        <th><a href="/reviews/by-series/#{{ review.book_series }}">{{ review.book_series }} {% if review.book_series_position %}#{{ review.book_series_position }}{% endif %}</a></th>
      </tr>
      {% endif %}
      <tr>
        <td>date added:</td>
        <th>{{ review.date_added | render_date }}</th>
      </tr>
      {% if review.dates_read %}
      <tr>
        <td>date read:</td>
        <th>{% for d in review.dates_read %}{{ d | render_date }}<br>{% endfor %}</th>
      </tr>
      {% endif %}
      {% if review.book_pages %}
      <tr>
        <td>pages:</td>
        <th>{{ review.book_pages }}</th>
      </tr>
      {% endif %}
      {% if review.book_tags %}
      <tr>
        <td>lists:</td>
        <th>
          {% for tag in review.book_tags %}
            <a href="/lists/{{ tag }}/">{{ tag }}</a>{{ ", " if not loop.last }}
          {% endfor %}
        </th>
      </tr>
      {% endif %}
      {% if review.rating %}
      <tr>
        <td>rating:</td>
        <th class="rating">
          {% for _ in range(review.rating) %}
          ★
          {% endfor %}
          {% for _ in range(5 - review.rating) %}
          ☆
          {% endfor %}
          {% if review.did_not_finish %}
          (did not finish)
          {% endif %}
        </th>
      </tr>
      {% endif %}
      {% if review.book_source %}
      <tr>
        <td>available:</td>
        <th><a href="{{ review.book_source }}" target=_blank>online</a></th>
      </tr>
      {% endif %}
    </table></div>
    {% if review.cover_path %}
    <a class="book-cover" href="/{{ review.slug }}/cover.jpg">
        {% set spine_border = True %}
        {% set full_size = True %}
        {% include "_book_cover.html" %}
      </a>
    {% endif %}
  </div>

  <nav id="toc">
    <h3>Table of Contents</h3>
    <ul class="toc">
      <li><a href="#title">Metadata</a></li>
      {% if review.plot %}
        <li><a href="#plot-summary">Plot summary</a></li>
      {% endif %}
      {% if review.text %}
        <li><a href="#review-text">Review</a></li>
        {{ review.text | render_toc | safe }}
      {% endif %}
    </ul>
    {% if review.quotes %}
      <ul class="toc"><li><a href="#quotes">Quotes</a></li></ul>
    {% endif %}
    {% if review.related_books %}
      <ul class="toc"><li><a href="#related-books">Related books</a></li></ul>
    {% endif %}
  </nav>

  <article>
    {% if review.plot %}
      <details>
        <summary><h2 class="plot-header" id="plot-summary">Plot summary <span title="Plot summaries will contain ALL the spoilers. I mostly write them to remind future!Me what was going on. Especially useful for discusisons and sequels.">❔</span></h2></summary>
        {{ review.plot | render_markdown | safe }}
        <hr>
      </details>
    {% endif %}
    <div id="review-text">
    {{ review.text | render_markdown | safe }}
    </div>
  </article>

    {% if review.quotes %}
    <h2 id="quotes">Quotes</h2>

      {% if review.quotes|length > 1%}
        {% for language, quotes in review.quotes.items() %}
          <details><summary>{{language}}</summary>
          {% for quote in quotes %}
            <div class="quote">{{ quote.text | render_quotes | safe }}</div>
          {% endfor %}
          </details>
        {% endfor %}
      {% else %}
        {% for language, quotes in review.quotes.items() %}
          {% for quote in quotes %}
            <div class="quote">{{ quote.text | render_quotes | safe }}</div>
          {% endfor %}
        {% endfor %}
      {% endif %}
    {% endif %}

    {% if review.related_books %}
    {% set spine_border = False %}
    <h2 id="related-books">Related books
      {% if review.book_series and review.book_series_position != "1" %}
      <small class="muted">Books related to the whole series are linked at the first part of the series.</small>
      {% endif %}
    </h2>
      {% for related in review.related_books %}
        {% set review = related.review %}
        {% set review_text = related.text %}
        {% set expand_card = True %}
        {% include  "_book_card.html" %}
      {% endfor %}
    {% endif %}

  <hr>

  {% include "_external_links.html" %}
  <hr>

{% endblock %}
